{{ attach_library('linkedin_profile/linkedin-profile-attachments') }}
<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/{{ profile_type }}" data-id="{{ profile_url }}" data-format="{{ display_mode }}" {% if profile_name %}data-text="{{ profile_name }}" {% endif %} data-width="100%"></script>